# Pandas Note(advance)

## 案例一：TGI

TGI指数计算公式 = 目标群体中具有某一特征的群体所占比例 / 总体中具有相同特征的群体所占比例  * 标准数100

In [3]:
import pandas as pd
t = pd.read_excel('TGI指数案例数据.xlsx')
t

,品牌名称,买家昵称,付款日期,订单状态,实付金额,邮费,省份,城市,购买数量
0,viva la vida,做快淘饭,2019-04-18 00:03:00,交易成功,22.320,0,北京,北京市,1
1,viva la vida,作自有世祟,2019-02-17 00:03:51,交易成功,87.000,0,上海,上海市,1
2,viva la vida,作雪白室,2019-04-18 00:01:43,交易成功,97.660,0,福建省,福州市,2
3,viva la vida,作美女购物主,2019-01-11 23:35:01,交易成功,37.230,0,河南省,安阳市,3
4,viva la vida,作美女购物主,2019-02-18 14:16:03,交易成功,29.500,0,河南省,安阳市,2
...,...,...,...,...,...,...,...,...,...
28827,viva la vida,.托托m,2019-01-11 02:26:33,交易成功,37.475,0,上海,上海市,3
28828,viva la vida,.willn1,2019-01-11 03:46:18,交易成功,34.570,0,山东省,烟台市,2
28829,viva la vida,.christiny,2019-01-29 14:17:15,交易成功,22.000,0,江苏省,南京市,1
28830,viva la vida,.blue_ram,2019-02-04 17:49:34,交易成功,49.450,0,上海,上海市,1
28831,viva la vida,！谢鹏逗逼？,2019-06-06 11:14:52,交易成功,17.000,0,河北省,石家庄市,1

In [ ]:
gp_user = t.groupby('买家昵称')['实付金额'].mean().reset_index()
gp_user

In [ ]:
def is_high(x):
    if x > 50:
        return '高客单'
    else:
        return '低客单'
    
gp_user['客单类别'] = gp_user['实付金额'].apply(is_high)
# 根据实付金额为买家打上标签

In [ ]:
# 去重
gp_dup = t.loc[t.duplicated('买家昵称') == False, :]
# gp_user.duplicated('买家昵称')函数会为重复数据的第一个打上FALSE标签，这样就可提取出所有的非重复数据
gp_dup

In [ ]:
# 将打上标签的和去重后的合并
mer_t = pd.merge(gp_dup, gp_user, left_on='买家昵称', right_on='买家昵称', how='left')
mer_t

In [ ]:
mer_t = mer_t[['买家昵称', '客单类别', '省份', '城市']]
result = pd.pivot_table(mer_t, index=['省份', '城市'], columns='客单类别', aggfunc='count')
result

In [ ]:
high = result['买家昵称']['高客单'].reset_index()
high

In [ ]:
low = result['买家昵称']['低客单'].reset_index()
low

In [ ]:
tgi = pd.merge(high, low, left_on=['省份','城市'], right_on=['省份','城市'], how='inner')
tgi

In [ ]:
tgi['总人数'] = tgi['高客单'] + tgi['低客单']
tgi['高客单占比'] = tgi['高客单'] / tgi['总人数']
tgi

In [ ]:
# 查看是否有空行
tgi.info()
# 如下表，总人数小于省份城市数

In [ ]:
tgi = tgi.dropna()       # 剔除空行
tgi

In [ ]:
tgi_total_per = tgi['高客单'].sum() / tgi['总人数'].sum()
tgi_total_per

In [ ]:
tgi.loc[:, '高客单TGI指数'] = tgi['高客单占比'] / tgi_total_per * 100
tgi = tgi.sort_values('高客单TGI指数', ascending=False)
tgi.head(10)

In [5]:
tgi.loc[:, '高客单TGI指数'] = tgi['高客单占比'] / tgi_total_per * 100
tgi = tgi.sort_values('高客单TGI指数', ascending=False)
tgi.head(10)

             买家昵称    实付金额
0       .blue_ram  49.450
1      .christiny  22.000
2         .willn1  34.570
3            .托托m  37.475
4           0000妮  13.500
...           ...     ...
25943         龙火师  24.500
25944        龙魔鬼女  87.000
25945       龟mil宝  25.360
25946      ！谢鹏逗逼？  17.000
25947        ～小邱～  15.000

[25948 rows x 2 columns]

In [6]:
def is_high(x):
    if x > 50:
        return '高客单'
    else:
        return '低客单'
    
gp_user['客单类别'] = gp_user['实付金额'].apply(is_high)
# 根据实付金额为买家打上标签

             买家昵称    实付金额 客单类别
0       .blue_ram  49.450  低客单
1      .christiny  22.000  低客单
2         .willn1  34.570  低客单
3            .托托m  37.475  低客单
4           0000妮  13.500  低客单
...           ...     ...  ...
25943         龙火师  24.500  低客单
25944        龙魔鬼女  87.000  高客单
25945       龟mil宝  25.360  低客单
25946      ！谢鹏逗逼？  17.000  低客单
25947        ～小邱～  15.000  低客单

[25948 rows x 3 columns]

In [11]:
# 去重
gp_dup = t.loc[t.duplicated('买家昵称') == False, :]
# gp_user.duplicated('买家昵称')函数会为重复数据的第一个打上FALSE标签，这样就可提取出所有的非重复数据
gp_dup

,品牌名称,买家昵称,付款日期,订单状态,实付金额,邮费,省份,城市,购买数量
0,viva la vida,做快淘饭,2019-04-18 00:03:00,交易成功,22.320,0,北京,北京市,1
1,viva la vida,作自有世祟,2019-02-17 00:03:51,交易成功,87.000,0,上海,上海市,1
2,viva la vida,作雪白室,2019-04-18 00:01:43,交易成功,97.660,0,福建省,福州市,2
3,viva la vida,作美女购物主,2019-01-11 23:35:01,交易成功,37.230,0,河南省,安阳市,3
5,viva la vida,作卢阳口才室,2019-06-16 04:15:56,交易成功,42.500,0,浙江省,衢州市,3
...,...,...,...,...,...,...,...,...,...
28827,viva la vida,.托托m,2019-01-11 02:26:33,交易成功,37.475,0,上海,上海市,3
28828,viva la vida,.willn1,2019-01-11 03:46:18,交易成功,34.570,0,山东省,烟台市,2
28829,viva la vida,.christiny,2019-01-29 14:17:15,交易成功,22.000,0,江苏省,南京市,1
28830,viva la vida,.blue_ram,2019-02-04 17:49:34,交易成功,49.450,0,上海,上海市,1
28831,viva la vida,！谢鹏逗逼？,2019-06-06 11:14:52,交易成功,17.000,0,河北省,石家庄市,1

In [12]:
# 将打上标签的和去重后的合并
mer_t = pd.merge(gp_dup, gp_user, left_on='买家昵称', right_on='买家昵称', how='left')
mer_t

,品牌名称,买家昵称,付款日期,订单状态,实付金额_x,邮费,省份,城市,购买数量,实付金额_y,客单类别
0,viva la vida,做快淘饭,2019-04-18 00:03:00,交易成功,22.320,0,北京,北京市,1,22.320,低客单
1,viva la vida,作自有世祟,2019-02-17 00:03:51,交易成功,87.000,0,上海,上海市,1,87.000,高客单
2,viva la vida,作雪白室,2019-04-18 00:01:43,交易成功,97.660,0,福建省,福州市,2,97.660,高客单
3,viva la vida,作美女购物主,2019-01-11 23:35:01,交易成功,37.230,0,河南省,安阳市,3,33.365,低客单
4,viva la vida,作卢阳口才室,2019-06-16 04:15:56,交易成功,42.500,0,浙江省,衢州市,3,42.500,低客单
...,...,...,...,...,...,...,...,...,...,...,...
25943,viva la vida,.托托m,2019-01-11 02:26:33,交易成功,37.475,0,上海,上海市,3,37.475,低客单
25944,viva la vida,.willn1,2019-01-11 03:46:18,交易成功,34.570,0,山东省,烟台市,2,34.570,低客单
25945,viva la vida,.christiny,2019-01-29 14:17:15,交易成功,22.000,0,江苏省,南京市,1,22.000,低客单
25946,viva la vida,.blue_ram,2019-02-04 17:49:34,交易成功,49.450,0,上海,上海市,1,49.450,低客单
25947,viva la vida,！谢鹏逗逼？,2019-06-06 11:14:52,交易成功,17.000,0,河北省,石家庄市,1,17.000,低客单

In [15]:
mer_t = mer_t[['买家昵称', '客单类别', '省份', '城市']]
result = pd.pivot_table(mer_t, index=['省份', '城市'], columns='客单类别', aggfunc='count')
result

                买家昵称
客单类别             低客单     高客单
省份   城市
上海   上海市      2818.0  2374.0
云南省  临沧市         3.0     2.0
     丽江市         1.0     3.0
     保山市         6.0     2.0
     大理白族自治州     9.0     8.0
...              ...     ...
黑龙江省 绥化市        14.0     2.0
     鸡西市         6.0     3.0
     鹤岗市         1.0     2.0
     黑河市         4.0     3.0
     齐齐哈尔市      14.0    10.0

[346 rows x 2 columns]

In [19]:
high = result['买家昵称']['高客单'].reset_index()
high

       省份       城市     高客单
0      上海      上海市  2374.0
1     云南省      临沧市     2.0
2     云南省      丽江市     3.0
3     云南省      保山市     2.0
4     云南省  大理白族自治州     8.0
..    ...      ...     ...
341  黑龙江省      绥化市     2.0
342  黑龙江省      鸡西市     3.0
343  黑龙江省      鹤岗市     2.0
344  黑龙江省      黑河市     3.0
345  黑龙江省    齐齐哈尔市    10.0

[346 rows x 3 columns]

In [20]:
low = result['买家昵称']['低客单'].reset_index()
low

       省份       城市     低客单
0      上海      上海市  2818.0
1     云南省      临沧市     3.0
2     云南省      丽江市     1.0
3     云南省      保山市     6.0
4     云南省  大理白族自治州     9.0
..    ...      ...     ...
341  黑龙江省      绥化市    14.0
342  黑龙江省      鸡西市     6.0
343  黑龙江省      鹤岗市     1.0
344  黑龙江省      黑河市     4.0
345  黑龙江省    齐齐哈尔市    14.0

[346 rows x 3 columns]

In [27]:
tgi = pd.merge(high, low, left_on=['省份','城市'], right_on=['省份','城市'], how='inner')
tgi

       省份       城市     高客单     低客单
0      上海      上海市  2374.0  2818.0
1     云南省      临沧市     2.0     3.0
2     云南省      丽江市     3.0     1.0
3     云南省      保山市     2.0     6.0
4     云南省  大理白族自治州     8.0     9.0
..    ...      ...     ...     ...
341  黑龙江省      绥化市     2.0    14.0
342  黑龙江省      鸡西市     3.0     6.0
343  黑龙江省      鹤岗市     2.0     1.0
344  黑龙江省      黑河市     3.0     4.0
345  黑龙江省    齐齐哈尔市    10.0    14.0

[346 rows x 4 columns]

In [28]:
tgi['总人数'] = tgi['高客单'] + tgi['低客单']
tgi['高客单占比'] = tgi['高客单'] / tgi['总人数']
tgi

       省份       城市     高客单     低客单     总人数     高客单占比
0      上海      上海市  2374.0  2818.0  5192.0  0.457242
1     云南省      临沧市     2.0     3.0     5.0  0.400000
2     云南省      丽江市     3.0     1.0     4.0  0.750000
3     云南省      保山市     2.0     6.0     8.0  0.250000
4     云南省  大理白族自治州     8.0     9.0    17.0  0.470588
..    ...      ...     ...     ...     ...       ...
341  黑龙江省      绥化市     2.0    14.0    16.0  0.125000
342  黑龙江省      鸡西市     3.0     6.0     9.0  0.333333
343  黑龙江省      鹤岗市     2.0     1.0     3.0  0.666667
344  黑龙江省      黑河市     3.0     4.0     7.0  0.428571
345  黑龙江省    齐齐哈尔市    10.0    14.0    24.0  0.416667

[346 rows x 6 columns]

In [29]:
# 查看是否有空行
tgi.info()
# 如下表，总人数小于省份城市数

<class 'pandas.core.frame.DataFrame'>
Int64Index: 346 entries, 0 to 345
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   省份      346 non-null    object
 1   城市      346 non-null    object
 2   高客单     332 non-null    float64
 3   低客单     329 non-null    float64
 4   总人数     315 non-null    float64
 5   高客单占比   315 non-null    float64
dtypes: float64(4), object(2)
memory usage: 18.9+ KB

In [30]:
tgi = tgi.dropna()       # 剔除空行
tgi

       省份       城市     高客单     低客单     总人数     高客单占比
0      上海      上海市  2374.0  2818.0  5192.0  0.457242
1     云南省      临沧市     2.0     3.0     5.0  0.400000
2     云南省      丽江市     3.0     1.0     4.0  0.750000
3     云南省      保山市     2.0     6.0     8.0  0.250000
4     云南省  大理白族自治州     8.0     9.0    17.0  0.470588
..    ...      ...     ...     ...     ...       ...
341  黑龙江省      绥化市     2.0    14.0    16.0  0.125000
342  黑龙江省      鸡西市     3.0     6.0     9.0  0.333333
343  黑龙江省      鹤岗市     2.0     1.0     3.0  0.666667
344  黑龙江省      黑河市     3.0     4.0     7.0  0.428571
345  黑龙江省    齐齐哈尔市    10.0    14.0    24.0  0.416667

[315 rows x 6 columns]

In [32]:
tgi_total_per = tgi['高客单'].sum() / tgi['总人数'].sum()
tgi_total_per

0.41528303343887557

In [37]:
tgi.loc[:, '高客单TGI指数'] = tgi['高客单占比'] / tgi_total_per * 100
tgi = tgi.sort_values('高客单TGI指数', ascending=False)
tgi.head(10)

           省份         城市   高客单  低客单   总人数     高客单占比    高客单TGI指数
149  新疆维吾尔自治区        哈密市   4.0  1.0   5.0  0.800000  192.639702
152  新疆维吾尔自治区  巴音郭楞蒙古自治州  10.0  3.0  13.0  0.769231  185.230483
2         云南省        丽江市   3.0  1.0   4.0  0.750000  180.599721
277       甘肃省        白银市   3.0  1.0   4.0  0.750000  180.599721
34        吉林省        辽源市   2.0  1.0   3.0  0.666667  160.533085
44        四川省        广安市   6.0  3.0   9.0  0.666667  160.533085
136   广西壮族自治区        河池市   4.0  2.0   6.0  0.666667  160.533085
25     内蒙古自治区      锡林郭勒盟   2.0  1.0   3.0  0.666667  160.533085
343      黑龙江省        鹤岗市   2.0  1.0   3.0  0.666667  160.533085
97        山西省        临汾市   9.0  5.0  14.0  0.642857  154.799761

## 案例二

* 总共128张表，每一份表格对应着一个细分行业的数据，像什么各类户外服装、垂钓装备、救生装备应有尽有
* 每张表，以月的维度（2018年9月-2019年8月，近一年）记录着每个品牌的日期、访客、客单、转化、所属类目（细分行业）等数据
* 共有20个品牌，这些品牌涉及到128个类目（细分行业）
* 筛选出近一年销售额总额TOP5的品牌以及对应的销售额

In [1]:
import os
import pandas as pd

### 首先打开单个文件

In [2]:
os.chdir(r'E:\OneDrive\Python\data_analyse\pandas\源数据128张表格')

In [4]:
name = '垂钓装备&绑钩器.xlsx'
df = pd.read_excel(name)
df.head(5)

        日期       转化率     访客数 三级类目         客单价     品牌
0  2019-08  0.025806  221402  绑钩器   33.284283  品牌-17
1  2019-08  0.019638   14074  绑钩器  233.995330  品牌-12
2  2019-08  0.065407   75392  绑钩器   11.938785  品牌-20
3  2019-08  0.015905   85529  绑钩器   41.059966  品牌-13
4  2019-08  0.039033   23839  绑钩器   44.502008   品牌-1

In [6]:
# 我们要汇总的是各品牌近一年（2018年9月-2019年8月）的销售额，先看看日期是否正确
df['日期'].unique()

array(['2019-08', '2019-07', '2019-06', '2019-05', '2019-04', '2019-03',
       '2019-02', '2019-01', '2018-12', '2018-11', '2018-10', '2018-09'],
      dtype=object)

In [7]:
# 销售额是可以通过访客数*转化率*客单价三者的乘积来计算的
df['销售额'] = df['访客数'] * df['转化率'] * df['客单价']
df

          日期       转化率     访客数 三级类目         客单价     品牌            销售额
0    2019-08  0.025806  221402  绑钩器   33.284283  品牌-17  190167.455681
1    2019-08  0.019638   14074  绑钩器  233.995330  品牌-12   64673.807815
2    2019-08  0.065407   75392  绑钩器   11.938785  品牌-20   58871.997672
3    2019-08  0.015905   85529  绑钩器   41.059966  品牌-13   55856.842507
4    2019-08  0.039033   23839  绑钩器   44.502008   品牌-1   41409.600947
..       ...       ...     ...  ...         ...    ...            ...
235  2018-09  0.020612   10620  绑钩器   43.028384  品牌-18    9418.930638
236  2018-09  0.047716    3570  绑钩器   42.566547  品牌-19    7251.073197
237  2018-09  0.034570    2820  绑钩器   58.662225  品牌-12    5718.808686
238  2018-09  0.017366    7020  绑钩器   46.042571  品牌-11    5613.048319
239  2018-09  0.015581   23490  绑钩器   14.852831   品牌-3    5436.029467

[240 rows x 7 columns]

In [11]:
# 按品牌来汇总销售额，得到近一年各品牌销售额合计
df_gp = df.groupby('品牌')['销售额'].sum().reset_index()
df_gp.head(5)

      品牌            销售额
0   品牌-1  529837.745358
1  品牌-10  217976.661847
2  品牌-11  327093.079507
3  品牌-12  485635.295843
4  品牌-13  438391.195855

这里有个细节，最终小Z要汇总的是所有细分行业的销售额，对于单独行业的销售额，应该加一个区分的标签以防覆盖，而打开时候的文件名，具有天然的区分和防覆盖优势，但要注意去掉文件的后缀。

In [12]:
df_gp['行业'] = name.replace('.xlsx', '')
df_gp.head(5)

      品牌            销售额        行业
0   品牌-1  529837.745358  垂钓装备&绑钩器
1  品牌-10  217976.661847  垂钓装备&绑钩器
2  品牌-11  327093.079507  垂钓装备&绑钩器
3  品牌-12  485635.295843  垂钓装备&绑钩器
4  品牌-13  438391.195855  垂钓装备&绑钩器

### 用循环的方法处理所有的表格

In [13]:
import time
t1 = time.time()
result = pd.DataFrame()

for name in os.listdir(r'E:\OneDrive\Python\data_analyse\pandas\源数据128张表格'):
    df = pd.read_excel(name)
    df['销售额'] = df['访客数'] * df['转化率'] * df['客单价']
    df_gp = df.groupby('品牌')['销售额'].sum().reset_index()
    df_gp['行业'] = name.replace('.xlsx', '')
    result = pd.concat([result, df_gp])
    
final = result.groupby('品牌')['销售额'].sum().reset_index().sort_values('销售额', ascending=False)
final.head(5)

       品牌           销售额
15   品牌-5  1.226224e+09
8   品牌-17  1.195281e+09
2   品牌-11  1.151829e+09
4   品牌-13  1.150687e+09
3   品牌-12  1.143520e+09

In [14]:
# 默认科学计数法，设置为显示小数，保留两位，并计算处理数据总用时。
import time
t1 = time.time()
result = pd.DataFrame()

for name in os.listdir(r'E:\OneDrive\Python\data_analyse\pandas\源数据128张表格'):
    df = pd.read_excel(name)
    df['销售额'] = df['访客数'] * df['转化率'] * df['客单价']
    df_gp = df.groupby('品牌')['销售额'].sum().reset_index()
    df_gp['行业'] = name.replace('.xlsx', '')
    result = pd.concat([result, df_gp])
    
final = result.groupby('品牌')['销售额'].sum().reset_index().sort_values('销售额', ascending=False)
t2 = time.time()
t = t2 - t1
print('总用时：{}s'.format(t))
pd.set_option('display.float_format', lambda x: '%.2f' % x)
print(final.head(5))
print(final.describe())

总用时：4.494115352630615s
       品牌           销售额
15   品牌-5 1226223640.73
8   品牌-17 1195280571.60
2   品牌-11 1151829215.73
4   品牌-13 1150687029.66
3   品牌-12 1143519788.23
                销售额
count         20.00
mean  1084854125.76
std     63774592.90
min    979272391.61
25%   1050719265.66
50%   1071804742.94
75%   1118990465.22
max   1226223640.73

## 案例三

RFM，是一种用户分类、价值分析模型。R，Rencency，即每个客户有多少天没回购了，可以理解为最近一次购买到现在隔了多少天。F，Frequency，是每个客户购买了多少次。M，Monetary，代表每个客户平均购买金额，这里也可以是累计购买金额。这三个维度，是RFM模型的精髓所在，帮助我们把混杂一体的客户数据分成标准的8类，然后根据每一类用户人数占比、金额贡献等不同的特征，进行人、货、场三重匹配的精细化运营。用Python建立RFM模型，整体建模思路分为五步，分别是数据概览、数据清洗、维度打分、分值计算和客户分层。

In [15]:
import pandas as pd
df = pd.read_excel('PYTHON-RFM实战数据.xlsx')
df.head(5)

FileNotFoundError: [Errno 2] No such file or directory: 'PYTHON-RFM实战数据.xlsx'